@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem 0;
  font-family: 'Poller One', sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  animation-name: slideDown;
  animation-duration: .4s;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  animation-name: slideDown;
  animation-delay: .4s;
  animation-duration: .4s;
  animation-fill-mode: backwards;
}

.listPeoples {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardPeople {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 600px;
  width: 100%;
  transition: all .4s ease-in;
  cursor: pointer;
  box-shadow: #ccc 5px 0px 15px;
}

.cardPeople:hover {
  animation-name: slideRight;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.cardPeople .img {
  max-width: 250px !important;
  width: 100%;
}

.cardPeople:hover .img {
  filter: grayscale(1);
}

.cardPeople .desc {
  max-width: 200px;
  width: 100%;
}

.cardPeople .desc h3,
.cardPeople .desc p {
  line-height: 2rem;
}

.cardPeople .desc h3 {
  text-transform: uppercase;
}

.cardPeople .desc p:nth-child(1) {
  font-size: 1.5rem;
}

.cardPeople .desc p:nth-child(4) {
  text-transform: capitalize;
}

/* Animations */
@keyframes slideDown {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(10px);
  }
}

/* Responsive */

@media (max-width: 580px) {
  .title {
    flex-direction: column;
  }

  .title h1 {
    margin-bottom: 1rem;
  }

  .cardPeople {
    flex-direction: column;
  }

  .cardPeople:hover {
    animation: none;
  }

  .cardPeople .desc {
    margin-top: 1rem;
  }

  .cardPeople .desc p,
  .cardPeople .desc h3 {
    text-align: center;
  }
}